### Python Lambda

In [1]:
# def == define, definition
# 모든 숫자에다가 1을 더해주는 함수 생성
def add_1(x):
    return x + 1

In [2]:
add_1(4)

5

In [3]:
# 람다를 이용해 동일하게 동작
add_1 = lambda x: x + 1

In [4]:
add_1(2)

3

### 정규표현식을 사용하지 않고, 개봉연도 추출하기

In [6]:
import pandas as pd

In [7]:
movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/추천 시스템 입문편/data/ml-latest-small/movies.csv', index_col='movieId')
movies.sample()

                                        title         genres
movieId
5417     Fast Runner, The (Atanarjuat) (2001)  Drama|Fantasy

In [8]:
sample_title = movies['title'][1]
sample_title

'Toy Story (1995)'

In [9]:
# 0-3 index
sample_title[:4]

'Toy '

In [10]:
sample_title[-5:-1]

'1995'

In [11]:
def get_year(x):
    return x[-5:-1]

In [12]:
get_year(sample_title)

'1995'

In [13]:
# 전체에 적용
years = []
for title in movies['title']:
    years.append(get_year(title))

In [16]:
# 중복 제거
print(set(years))

{'1908', '1939', '1944', '1998', 'atso', '011)', '1953', '1930', '1997', '1979', 'ron ', '1924', '1952', '1990', '1928', '1948', '1919', ' Roa', '1915', '973)', '1982', '1995', '2007', '2006', '1992', '2014', 'irro', '1993', '1960', '1967', '1981', '1976', '2011', '1977', '1926', '1996', '1949', '1974', '1933', '1991', '1963', '2015', 'erso', '1917', '2018', '1923', 'ligh', '1922', '1984', '1929', 'he O', '1961', '995)', '1958', '1921', '1983', '1964', '1920', '1938', '2012', '1943', '014)', '007)', '2013', '1970', '2009', '1962', '1989', '1959', '1935', '2010', '1968', '1942', '2003', '2008', '1956', '2002', '1975', '1957', '1947', '2001', '2004', '1931', '1965', '1950', 'r On', ' Bab', '1955', '1985', '1937', '1946', '1987', '1945', '999)', '1932', '012)', '1986', '1966', '1973', '1902', 'lon ', '1916', 'imal', '1999', '008)', '1934', '1988', '1936', '1925', '1954', '2017', '1940', '1980', '1971', '2000', '1941', '2016', '1951', '1927', '1994', 'osmo', '1978', '2005', '1903', '998)', '1969', '1972'}

### Pandas Lambda와 Apply를 이용해 간단하게 풀어보기

In [17]:
# apply는 for문의 기능을 대신해줌
# apply : title이라는 컬럼에 함수를 반복 적용
movies['title'].apply(get_year)

movieId
1         1995
2         1995
3         1995
4         1995
5         1995
          ...
193581    2017
193583    2017
193585    2017
193587    2018
193609    1991
Name: title, Length: 9742, dtype: object

In [21]:
# lambda는 간단한 함수를 만들지 않아도 되도록 함
# apply(함수) : 함수를 lambda 함수로도 써 줄 수 있음
movies['year'] = movies['title'].apply(lambda x: x[-5:-1])
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '999)', '2005', '2006', '1902', 'lon ', '1903', '2007',
       '2008', '008)', '007)', '2009', '2010', '2011', '2012', '011)',
       '998)', '995)', '2013', '012)', '973)', '2014', '2015', '014)',
       '2016', '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal',
       'erso', 'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'],
      dtype=object)